<% provide(:title, "编辑页面") %>
<%= form_for [:admin, @page] do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :created_at %>
      <%= f.datetime_select :created_at %>
    </div>
    <div class="large-6 columns">
      <%= f.label :updated_at %>
      <%= f.datetime_select :updated_at %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "编辑页面！", data: { disable_with: "编辑页面中..." } %>
  </div>
<% end %>