<% provide(:title, "管理页面") %>
<h2>所有页面<small><%= link_to "添加新页面", new_admin_page_path %></small></h2>
<table>
  <thead>
    <tr>
      <th width="100">slug</th>
      <th width="200">标题</th>
      <th width="200">创建时间</th>
      <th width="50">编辑</th>
      <th width="50">删除</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.slug %></td>
      <td><%= link_to page.title, page %></td>
      <td><%= format_time page.created_at %></td>
      <td><%= link_to "编辑", edit_admin_page_path(page) %></td>
      <td><%= link_to "删除", admin_page_path(page), method: :delete, data: { confirm: '你确定删除该页面？再想想？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-centered">
  <ul class="pagination arrow">
    <%= paginate @pages %>
  </ul>
</div>