<% provide(:title, "照片#{@photo.title}的评论") %>
<h2>照片<%= link_to @photo.title, @photo %>的所有评论</h2>
<table>
  <thead>
    <tr>
      <th width="100">评论者ID</th>
      <th width="150">评论者</th>
      <th width="500">内容</th>
      <th width="200">创建时间</th>
      <th width="50">删除</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.user.uuid %></td>
      <td><%= comment.user.name %></td>
      <td><%= comment.content %></td>
      <td><%= format_time comment.created_at %></td>
      <td><%= link_to "删除", admin_photo_comment_path(@photo, comment), method: :delete, data: { confirm: '你确定删除该评论？再想想？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-centered">
  <ul class="pagination arrow">
    <%= paginate @comments %>
  </ul>
</div>