<% provide(:title, "登录") %>
<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_tag "/auth/identity/callback" do %>
      <fieldset>
        <legend>Welcome back!</legend>
          <div class="field">
            <%= label_tag :auth_key, "邮箱" %>
            <%= text_field_tag :auth_key %>
          </div>
          <div class="field">
            <%= label_tag :密码 %>
            <%= password_field_tag :password %>
          </div>
          <div class="actions"><%= submit_tag "登录", data: { disable_with: "登录中..." } %></div>
      </fieldset>
    <% end %>
  </div>
</div>