<% cache comment do %>
<div id="comment-<%= comment.id %>" data-creator-id="<%= comment.user_id %>" class="comment-item">
  <div class="avatar"><%= link_to resize_avatar(comment.user, "square32"), comment.user %></div>
  <div class="comment-content">
    <div class="comment-head"><%= link_to comment.user.name, comment.user %> <small><%= format_time comment.created_at %></small></div>
    <p><%= format_text comment.content %></p>
    <div class="comment-admin">
      <% if current_user %>
        <span><%= link_to (fa_icon "reply", text: "回复"), 'javascript:;', :data => {:"reply-to" => "@#{comment.user.name} "}, :class => "reply" %></span>
      <% end %>
      <% if current_user?(comment.user) %>
        <span class="comment-delete"><%= link_to (fa_icon "times", text: "删除"), [@commentable, comment], method: :delete, data: { confirm: "你确定删除？" }, remote: true %></span>
      <% end %>
    </div>
  </div>
</div>
<% end %>