var currentValue = parseInt($('#comments-number').text(), 10);
var newValue = currentValue + 1;
$('<%= escape_javascript(render(:partial => @comment)) %>').appendTo('#comments').hide().fadeIn();
$('#comments-number').text(newValue);
$('#comment_content').val('');