<% provide(:title, "管理照片") %>
<h2>所有照片</h2>
<table>
  <thead>
    <tr>
      <th width="100">ID</th>
      <th width="200">标题</th>
      <th width="120">上传者</th>
      <th width="120">上传者ID</th>
      <th width="100">评论</th>
      <th width="200">上传时间</th>
      <th width="50">删除</th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
    <tr>
      <td><%= photo.id %></td>
      <td><%= link_to photo.title, photo %></td>
      <td><%= photo.user.name %></td>
      <td><%= photo.user.uuid %></td>
      <td><%= link_to photo.comments_count, admin_photo_comments_path(photo) %></td>
      <td><%= format_time photo.created_at %></td>
      <td><%= link_to "删除", admin_photo_path(photo), method: :delete, data: { confirm: '你确定删除该照片？再想想？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-centered">
  <ul class="pagination arrow">
    <%= paginate @photos %>
  </ul>
</div>