<div class="panel">
  <%= link_to resize_avatar(notification.action_user, "square32"), notification.action_user %>
  <b><%= notification.action_user.name %></b>
  <%= notification.action_info_prefix %>
  <%= link_to format_notification(notification.content), read_notification_path(notification) %>
  <%= notification.action_info_suffix %>了你
  <small><%= format_time notification.created_at %></small>
</div>