<% provide(:title, "消息提醒") %>
<% content_for :subhead do %>
  <h2>消息提醒</h2>
<% end %>
<dl class="tabs vertical" data-tab>
  <dd class="active"><a href="#panel1a">未读消息</a></dd>
  <dd><a href="#panel2a">已读消息</a></dd>
</dl>
<div class="tabs-content vertical">
  <div class="content active" id="panel1a">
    <%= link_to "全部记为已读", viewed_notifications_path, :class => "tiny button" %>
    <%= render @notifications %>
  </div>
  <div class="content" id="panel2a">
    <%= link_to "清空消息", clear_notifications_path, :class => "tiny button" %>
    <% @viewed.each do |notification| %>
      <% if notification.action_user %>
        <%= render "notification", notification: notification %>
      <% end %>
    <% end %>
  </div>
</div>