<% provide(:title, "帐号设置") %>
<% content_for :subhead do %>
  <h2>帐号设置</h2>
<% end %>
<div class="row">
  <div class="large-4 columns">
    <%= resize_avatar(@user, "square240") %>
  </div>
  <div class="large-8 columns">
     <%= form_for @user, :html => {:multipart => true} do |f| %>
      <div class="field">
        <%= render "shared/errors", model: @user %>
      </div>
      <div class="field">
        <%= f.label :"头像不喜欢？换个呗。" %>
        <%= f.file_field :avatar %>
      </div>
      <div class="field">
        <%= f.label :"邮箱" %>
        <%= f.text_field :email %>
      </div>
      <%= f.fields_for :account do |builder| %>
        <div class="field">
          <%= builder.label :签名 %>
          <%= builder.text_field :signature %>
        </div>
        <div class="field">
          <%= builder.label :网站 %>
          <%= builder.text_field :url %>
        </div>
        <div class="field">
          <%= builder.label :简介 %>
          <%= builder.text_field :bio %>
        </div>
        <% end %>
      <div class="actions">
        <%= f.submit "更新", data: { disable_with: "更新中..." } %>
      </div>
    <% end %>
  </div>
</div>