<% provide(:title, "#{@user.name}的资料") %>
<div class="row">
  <ul class="breadcrumbs">
    <li><%= link_to "照片集", user_path(@user) %></li>
    <li><%= link_to "收藏", user_bookmarks_path(@user) %></li>
    <li class="current"><%= link_to "TA的资料", info_user_path(@user) %></li>
  </ul>
</div>
<div class="row">
  <div class="panel">
    <p>ID: <%= @user.uuid %></p>
    <p>签名： <%= signature_or_nil(@user) %></p>
    <p>网站： <%= url_or_nil(@user) %></p>
    <p>简介： <%= bio_or_nil(@user) %></p>
  </div>
</div>