<% provide(:title, "帐号设置") %>
<div id="setup">
  <h2>亲爱的「<%= @new_user.name %>」</h2>
  <div class="nav-divider"></div><br>
  <div class="row">
    <div class="large-12 columns">
      <%= form_for @new_user, :html => {:multipart => true} do |f| %>
        <div class="field">
          <%= render "shared/errors", model: @new_user %>
        </div>
        <div class="field">
          <%= f.label :"先上传个新头像，一个与众不同的头像可以给人留下深刻的印象" %>
          <%= f.file_field :avatar %>
        </div>
        <div class="field">
          <%= f.label :"请填写常用的邮箱地址" %>
          <%= f.text_field :email %>
        </div>
        <div class="actions">
          <%= f.submit "进入新相知", data: { disable_with: "开启美好中..." }, :class => "button" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <small>小贴士：强烈推荐使用<b>Chrome浏览器</b>获得最佳体验：）</small>
    </div>
  </div>
</div>