<% provide(:title, @user.name) %>
<div class="row">
  <ul class="breadcrumbs">
    <li class="current"><%= link_to "照片集", user_path(@user) %></li>
    <li><%= link_to "收藏", user_bookmarks_path(@user) %></li>
    <li><%= link_to "TA的资料", info_user_path(@user) %></li>
  </ul>
</div>
<div class="row">
  <ul class="small-block-grid-4">
    <% @photos.each do |photo| %>
      <li><%= link_to resize(photo, "medium480"), photo %></li>
    <% end %>
  </ul>
  <%= render "shared/paginate", photos: @photos %>
</div>