<% if current_user %>
  <% if current_user.bookmarked?(thing) %>
    <%= link_to "取消收藏", current_user.bookmark_of(thing), :method => :delete, :class => "button", :id => "bookmark", data: { disable_with: "取消中..." } %>
  <% else %>
    <%= link_to "加入收藏", photo_bookmarks_path(thing), :method => :post, :class => "button", :id => "bookmark", data: { disable_with: "加入中..." } %>
  <% end %>
<% end %>