<ul class="small-block-grid-4">
  <% photos.each do |photo| %>
  <li>
    <div class="img-wrapper">
      <%= link_to resize(photo, "square240"), photo %>
      <div class="img-caption">
        <span class="img-caption-photo-title"><%= photo.title %></span>
        <span class="img-caption-photo-user"><%= photo.user.name %></span>
      </div>
    </div>
  </li>
  <% end %>
</ul>