<% provide(:title, "首页") %>
<div id="homepage">
  <div id="home-signin">
    <div class="site-title">「新相知」发现美好，分享故事</div>
    <p><%= link_to "一起来探索", photos_path, :class => "button" %></p>
    <p><%= link_to(image_tag("douban.png"), "/auth/douban") %></p>
  </div>
</div>