<% provide(:title, "#{@page.title}") %>
<% content_for :subhead do %>
  <h2><%= @page.title %></h2>
<% end %>
<% cache @page do %>
<div class="page-content">
  <%= markdown @page.content %>
</div>
<small>更新时间：<%= format_time @page.updated_at %></small>
<% end %>