<% provide(:title, "注册") %>
<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= form_tag "/auth/identity/register" do %>
      <% if @identity && @identity.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
          <ul>
          <% @identity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <fieldset>
        <legend>Hello, new friend!</legend>
          <div class="field">
            <%= label_tag :"用户名（字母开头，大小写不敏感，长度为4-16）" %>
            <%= text_field_tag :name, @identity.try(:name) %>
          </div>
          <div class="field">
            <%= label_tag :邮箱 %>
            <%= text_field_tag :email, @identity.try(:email) %>
          </div>
          <div class="field">
            <%= label_tag :"密码 （最短8位）" %>
            <%= password_field_tag :password %>
          </div>
          <div class="field">
            <%= label_tag :确认密码 %>
            <%= password_field_tag :password_confirmation %>
          </div>
          <div class="actions"><%= submit_tag "注册", data: { disable_with: "注册中..." } %></div>
      </fieldset>
    <% end %>
  </div>
</div>