<% provide(:title, "管理首页") %>
<h2>网站基本信息</h2><hr>
<div class="row">
  <div class="large-2 columns">
    用户<h2><%= @users_count %></h2>
  </div>
  <div class="large-2 columns">
    照片<h2><%= @photos_count %></h2>
  </div>
  <div class="large-2 columns">
    评论<h2><%= @comments_count %></h2>
  </div>
  <div class="large-2 columns">
    页面<h2><%= @pages_count %></h2>
  </div>
  <div class="large-2 columns">
    贴士<h2><%= @tips_count %></h2>
  </div>
  <div class="large-2 columns">
  </div>
</div>