<div id="comments">
  <%= render @comments %>
</div>
<div class="row">
  <div class="columns">
    <%= form_for [@commentable, @comment], remote: true do |f| %>
      <div class="field">
        <%= f.label :"回复内容（不得少于5个字）" %>
        <%= f.text_area :content %>
      </div>
      <div class="actions"><%= f.submit "回复", data: { disable_with: "正在回复..." } %></div>
    <% end %>
  </div>
</div>