<% provide(:title, "更新照片") %>
<% content_for :subhead do %>
  <h2>更新照片</h2>
<% end %>
<div class="row">
  <div class="large-6 columns">
    <%= form_for @photo do |f| %>
      <div class="field">
        <%= f.label :"起个文艺的名字（不能为空）" %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :"分类" %>
        <%= f.select :category_name, Category::PHOTO_TYPES %>
      </div>
      <div class="field">
        <%= f.label :"解释一下这张照片的背景或意义（不能为空）" %>
        <%= f.text_area :body %>
      </div>
      <div class="field">
        <%= f.label :"版权" %>
        <small>关于如何选择版权请参考http://creativecommons.org/licenses/?lang=zh_TW</small>
        <%= f.select :license, Photo::LICENSES %>
      </div>
      <div class="actions"><%= f.submit "更新！", data: { disable_with: "更新中..." } %></div>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= resize(@photo, "medium480") %>
  </div>
</div>