<% provide(:title, "上传照片") %>
<% content_for :subhead do %>
  <h2>上传照片</h2>
<% end %>
<div class="row">
  <div class="large-6 columns">
    <%= form_for @photo, :html => {:multipart => true} do |f| %>
      <div class="field">
        <%= render "shared/errors", model: @photo %>
      </div>
      <div class="field">
        <%= f.label :"来选一张牛逼的照片（最大10M，格式仅支持jpg、jpeg、png三种）" %>
        <%= f.file_field :file_name %>
      </div>
      <div class="field">
        <%= f.label :"分类" %>
        <%= f.select :category_name, Category::PHOTO_TYPES %>
      </div>
      <div class="field">
        <%= f.label :"起个文艺的名字（不能为空）" %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :"解释一下这张照片的背景或意义（不能为空）" %>
        <%= f.text_area :body %>
      </div>
      <div class="field">
        <%= f.label :"版权" %>
        <small>关于如何选择版权请参考http://creativecommons.org/licenses/?lang=zh_TW</small>
        <%= f.select :license, Photo::LICENSES %>
      </div>
      <div class="actions"><%= f.submit "上传吧！", data: { disable_with: "上传中..." } %></div>
    <% end %>
  </div>
</div>