<% provide(:title, "#{@photo.title} by #{@photo.user.name}") %>
<% content_for :twitter_card do %>
  <%= meta_twitter_card("card", "photo") %>
  <%= meta_twitter_card("title", @photo.title) %>
  <%= meta_twitter_card("image", photo_filename(@photo, "square240")) %>
<% end %>
<% content_for :subhead do %>
<div class="photo-head">
  <% cache @photo do %>
  <div class="left">
    <div class="photo-avatar">
      <%= link_to resize_avatar(@photo.user, "square48"), @photo.user %>
    </div>
    <ul class="photo-meta">
      <li class="photo-title"><b><%= @photo.title %></b></li>
      <li class="photo-time"><small><i class="fa fa-tag"></i> <%= link_to @photo.category_name, category_path(@photo.category_name) %> <%= format_time @photo.created_at%></small></li>
    </ul>
  </div>
  <% end %>
  <div class="right">
    <%= render "shared/bookmark_button", thing: @photo %>
  </div>
</div>
<% end %>
<div class="row">
	<div class="small-12 large-centered columns single-pic">
		<div>
      <%= resize(@photo, "origin") %>
      <span id="exif-link"><%=exif(@photo) %></span>
    </div>
    <div id="prev"><%= link_to(image_tag("prev.png"), @prev, data: { keybinding: 'left' }) if @prev %></div>
    <div id="next"><%= link_to(image_tag("next.png"), @next, data: { keybinding: 'right' }) if @next %></div>
	</div>
</div>
<br>
<div class="row">
  <div class="large-8 columns">
    <div class="row">
      <div class="columns">
        <h5 class="subheader"><%= link_to @photo.title, @photo %> 照片描述</h5>
        <div class="about-photo">
          <div class="photo-desc">
            <%= format_text @photo.body %>
            <div class="license label">
              版权：<%= @photo.license ? @photo.license : "无" %>
            </div>
          </div>
          <br>
          <div class="left share">
            <%= social_share_button_tag(share_title(@photo), :url => photo_url(@photo), :image => photo_filename(@photo, "origin")) %>
          </div>
          <div class="photo-admin right">
            <span id="exif"><%= image_tag "exif.png", :id => "img-exif" %><ul id="exif-details"></ul></span>
            <% if current_user?(@photo.user) %>
              | <%= link_to "编辑", edit_photo_path(@photo) %>
              | <%= link_to "删除", photo_path(@photo), method: :delete, data: { confirm: '你确定删除？再想想？' } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="columns">
        <% if current_user %>
        <h5 class="subheader">评论 <span id="comments-number"><%= @photo.comments_count %></span></h5>
          <%= render 'comment' %>
        <% else %>
          <p>请先<%= link_to "登录", 'javascript:;', :class => :"sign-in" %>再评论。</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="row">
      <div class="columns">
        <h5 class="subheader"><b><%= link_to @photo.user.name, @photo.user %></b> 的最近照片</h5>
        <ul class="small-block-grid-4">
          <% @recent_photos.each do |photo| %>
            <li><%= link_to(resize(photo, "square75"), photo) %></li>
          <% end %>
        </ul>
        <% cache do %>
          <%= render "shared/tip" %>
        <% end %>
      </div>
    </div>
  </div>
</div>