<% provide(:title, "编辑贴士") %>
<%= form_for [:admin, @tip] do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :created_at %>
      <%= f.datetime_select :created_at %>
    </div>
    <div class="large-6 columns">
      <%= f.label :updated_at %>
      <%= f.datetime_select :updated_at %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "编辑贴士！", data: { disable_with: "编辑贴士中..." } %>
  </div>
<% end %>