<% provide(:title, "管理贴士") %>
<h2>所有贴士<small><%= link_to "添加新贴士", new_admin_tip_path %></small></h2>
<table>
  <thead>
    <tr>
      <th width="200">创建时间</th>
      <th width="800">内容</th>
      <th width="50">编辑</th>
      <th width="50">删除</th>
    </tr>
  </thead>
  <tbody>
    <% @tips.each do |tip| %>
    <tr>
      <td><%= format_time tip.created_at %></td>
      <td><%= tip.body %></td>
      <td><%= link_to "编辑", edit_admin_tip_path(tip) %></td>
      <td><%= link_to "删除", admin_tip_path(tip), method: :delete, data: { confirm: '你确定删除该贴士？再想想？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-centered">
  <ul class="pagination arrow">
    <%= paginate @tips %>
  </ul>
</div>