/* main colors */
$primary-color: #008CBA;
$second-color: rgba(#EEE, .5);
$white: #FFF;
$black: #000;

/* center */
@mixin center($width, $height) {
  width: $width;
  height: $height;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
}