@import 'reset';

/* comment */
.comment-item {
	width: 100%;
	padding: 1em 0 1em 0;
	overflow: auto;
  &:hover {
    background-color: $second-color;
  }
}

.avatar {
	display: inline-block;
	float: left;
}

.comment-content {
  float: right;
  width: 93%;
  .comment-head {
    background-color: $second-color;
  }
  span[class="reply"]>i:hover {
    cursor: pointer;
  }
  span[class="comment-delete"] {
    float: right;
  }
}