@import 'reset';

/* Homepage */
#homepage {
  width: 100%;
  height: 100%;
  background: image-url("cover1200.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  #home-signin {
    @include center(800px, 600px);
    .site-title {
      margin: 100px 0 50px;
      color: $white;
      font-size: 3em;
      text-shadow: 0 -1px 0 $white;
    }
  }
}

/* signin window */
#sign-in-window {
  @include center(500px, 120px);
  display: none;
  z-index: 1;
  background-color: rgba($white, .9);
  overflow: auto;
  text-align: center;
  border-radius: 10px;
}

/* global subhead under the nav */
#subhead {
  height: 100px;
  background-image: image-url("subhead.png");
  h2 {
    height: 50px;
    margin-top: 25px;
    text-shadow: 0px 3px 10px rgba(150, 150, 150, 1);
  }
  .photo-head {
    height: 50px;
    margin-top: 25px;
    .photo-avatar {
      overflow: hidden;
      display: inline;
      float: left;
    }
    ul[class="photo-meta"] {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      float: left;
      li[class="photo-title"] {
        font-size: 1.2em;
      }
    }
  }
}

.nav-divider {
  width: 100%;
  height: 3px;
  background-color: $primary-color;
}

/* image's style in the single page */
.img-wrapper {
  position: relative;
  .img-caption {
    width: inherit;
    color: $white;
    background-color: rgba($black, .9);
    font-size: 1.2em;
    text-align: center;
    span[class="img-caption-photo-user"] {
      display: none;
    }
  }
}

/* foot */
#foot {
  color: #666;
  a {
    font-weight: bold;
    color: #666;
    &:hover {
      color: #000;
    }
  }
  p {
    font-size: .6em;
  }
}

/* setup page */
#setup {
  @include center(800px, 600px);
}

/* display errors in red */
ul[class="errors"] {
  color: red;
}