@import 'reset';

/* photo's title, description and admin */
.single-pic {
  text-align: center;
}

ul[class="photo-meta"] {
  list-style: none;
}

.photo-desc {
  background-color: $second-color;
  &:before {
    content: "❝";
    font-size: 1.6em;
  }
}

.photo-admin {
  font-size: .8em;
}

/* EXIF */
span[id="exif-link"] {
  display: none;
}

span[id="exif"] {
  position: relative;
  opacity: 0.6;
  img {
    height: 1.2em;
  }
  &:hover {
    opacity: 1;
  }
}

ul[id="exif-details"] {
  width: 320px;
  position: absolute;
  left: -320px;
  top: 20px;
  z-index: 1000;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  background-color: rgba($black, .8);
  color: $white;
  list-style-type: none;
  border-radius: 6px;
  li {
    margin: .4em 0;
  }
}

/* photo's copyright and share options */
.license {
  display: inline-block;
  font-size: .8em;
}

.share {
  display: inline-block;
  position: relative;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

/* prev and next link */
#prev {
  position: fixed;
  height: 100px;
  left: 10px;
  top: 45%;
  z-index: 100;
}

#next {
  position: fixed;
  height: 100px;
  right: 10px;
  top: 45%;
  z-index: 100;
}

/* tips */
.tip {
  background-color: $second-color;
  font-size: .9em;
  line-height: 1.5;
}