@import 'reset';

/* user's profile */
#user-profile {
  .cover {
    width: 100%;
    height: 240px;
    background-image: image-url("cover.png");
    background-size: cover;
    .user-item {
      width: 100%;
      height: 160px;
      margin-top: 80px;
      overflow: auto;
      .user-avatar {
        display: inline-block;
        float: left;
        img {
          width: 160px;
          height: 160px;
          border: 6px solid $white;
        }
      }
      .user-details {
        display: inline-block;
        float: none;
        height: 80px;
        margin-top: 80px;
        margin-left: 1em;
        .user-name {
          font-size: 2em;
          color: $white;
        }
        .user-signature {
          margin-top: 1em;
          font-size: 1.2em;
          color: $white;
        }
      }
    }
  }
}