<% provide(:title, "#{@category.name}类作品") %>
<% content_for :subhead do %>
  <h2><%= "#{@category.name}类" %></h2>
<% end %>
<%= render "shared/photo_grid", photos: @photos %>
<%= render "shared/paginate", photos: @photos %>