<% provide(:title, "管理会员") %>
<h2>会员信息</h2>
<table>
  <thead>
    <tr>
      <th width="50">头像</th>
      <th width="120">ID</th>
      <th width="120">名字</th>
      <th width="100">照片</th>
      <th width="200">email</th>
      <th width="200">注册时间</th>
      <th width="100">删除</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= resize_avatar(user, "square32") %></td>
      <td><%= link_to user.uuid, user %></td>
      <td><%= user.name %></td>
      <td><%= link_to user.number_of_photos, user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= format_time user.created_at %></td>
      <td><%= normal_or_admin(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-centered">
  <ul class="pagination arrow">
    <%= paginate @users %>
  </ul>
</div>