<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "新相知管理", admin_root_path %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to "用户", admin_users_path %></li>
      <li><%= link_to "照片", admin_photos_path %></li>
      <li><%= link_to "页面", admin_pages_path %></li>
      <li><%= link_to "贴士", admin_tips_path %></li>
    </ul>
    <ul class="left">
      <li><%= link_to "返回网站首页", root_path %></li>
    </ul>
  </section>
</nav>