<body>
  <%= render "layouts/nav" %>
  <div id="subhead">
    <div class="row">
      <%= yield(:subhead)%>
    </div>
  </div>
  <br>
  <div class="row">
    <%= render "layouts/message" %>
    <%= yield %>
  </div>
  <hr>
  <% cache do %>
  <%= render "layouts/foot" %>
  <% end %>
</body>