<!--
 _                              _
| |                            (_)
| | ___ __   _____      ___ __  _  ___   ___ ___  _ __ ___
| |/ / '_ \ / _ \ \ /\ / / '_ \| |/ __| / __/ _ \| '_ ` _ \
|   <| | | |  __/\ V  V /| |_) | | (__ | (_| (_) | | | | | |
|_|\_\_| |_|\___| \_/\_/ | .__/|_|\___(_)___\___/|_| |_| |_|
                         | |
                         |_|
============================================================
                                                 knewpic.com

App Environments:
------------------------------------------------------------
Ruby:  <%= RUBY_VERSION %><%= "-p#{RUBY_PATCHLEVEL}" if defined? RUBY_PATCHLEVEL %>
Rails: <%= Rails.version %>

-->