<div id="foot">
  <div class="small-6 columns">
    <ul class="inline-list">
      <li><small><b>© 2014 新相知 knewpic.com</b></small></li>
      <li><small><%= link_to "关于", "/pages/about" %></small></li>
      <li><small><%= link_to "FAQ", "/pages/faq" %></small></li>
    </ul>
    <p>新相知，一个发现美好、分享故事的摄影社区（强烈推荐使用Chrome浏览器！）</p>
  </div>
  <div class="small-6 columns">
    <span class="right">
      <%= image_tag("digitalocean-badge-blue.png") %>
    </span>
  </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-47471069-1', 'knewpic.com');
  ga('send', 'pageview');
</script>
</div>