<head>
  <meta charset="utf-8" />
  <meta name="description" content="新相知 | 一个发现美好、分享故事的摄影社区" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="nofollow" />
  <%= yield :twitter_card %>
  <title>
    <%= yield(:title) %> | 新相知，一个发现美好、分享故事的摄影社区
  </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>