<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to("「新相知」", root_path) %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
    <% if current_user %>
      <% if unread_notification_count > 0 %>
        <li class="active"><%= link_to (fa_icon "comments", text: "#{@unread_count} 条未读提醒"),  notifications_path, :class => "button" %>
        </li>
      <% end %>
      <li data-tooltip title="上传照片"><%= link_to (fa_icon "camera"), new_photo_path %></li>
      <li data-tooltip title="消息提醒"><%= link_to (fa_icon "comments"),  notifications_path %></li>
      <li data-tooltip title="个人主页"><%= link_to (fa_icon "user"), current_user %></li>
      <li data-tooltip title="帐号设置"><%= link_to (fa_icon "cog"), settings_path %></li>
      <li data-tooltip title="退出网站"><%= link_to (fa_icon "power-off"), signout_path %></li>
    <% else %>
      <li><%= link_to (fa_icon "sign-in", text: "登录"), 'javascript:;', :class => :"sign-in" %></li>
    <% end %>
    </ul>
    <ul class="left">
      <li><%= link_to "最新", photos_path %></li>
    </ul>
  </section>
</nav>
<div class="nav-divider"></div>
<div id="sign-in-window">
  <span class="right"><small><%= link_to "关闭", 'javascript:;', :class => :close %></small></span>
  <h3 class="subheader"><b>登录</b></h3>
  <div class="nav-divider"></div><br>
  <%= link_to(image_tag("douban.png"), "/auth/douban") %>
</div>
