<div id="user-profile">
  <div class="row">
    <%= render "layouts/message" %>
    <div class="columns cover">
      <div class="user-item">
        <div class="user-avatar">
          <%= resize_avatar(@user, "square160") %>
        </div>
        <div class="user-details">
          <div class="user-name"><%= @user.name %></div>
          <div class="user-signature"><%= signature_or_nil(@user) %></div>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
</div>