<!DOCTYPE html>
<html lang="zh-CN">
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/admin_nav" %>
    <%= render "layouts/message" %>
    <br>
    <div class="row">
      <%= yield %>
    </div>
    <hr>
    <%= render "layouts/foot" %>
  </body>
</html>