<%= render "layouts/env" %>
<!DOCTYPE html>
<html lang="zh-CN">
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/nav" %>
    <br>
    <%= render "layouts/profile_base" %>
    <hr>
    <% cache do %>
      <%= render "layouts/foot" %>
    <% end %>
  </body>
</html>